<header class="flex-cntr">

	<nav class="flex-cntr" id="top-nav">
		<h1>Game Shack</h1>
		<h1>Store</h1>
		<div class="nav-links flex-cntr">
			<a href="/" >Home</a>
			<a href="/games/" >Games</a>
			<a href="/games/" >Signup</a>
			<a href="/games/" >Login</a>
		</div>

		<!-- <div class="nav-links flex-cntr selected">
			<select>Menu
				<option><a class="menu-item" href="/" >Home</a></option>
				<option><a class="menu-item" href="/games/" >Games</a></option>
				<option><a class="menu-item" href="/games/" >Signup</a></option>
				<option><a class="menu-item" href="/games/" >Login</a></option>
			</select>
		</div> -->
	</nav>
</header>