<header class="flex-cntr">
	<nav class="flex-cntr" id="top-nav">
		<h1><a href="/" style="text-decoration: none;">Game Shack</a></h1>
		<h1>Store</h1>
		<div class="nav-links flex-cntr">
			<a href="/games/new" >New Game</a>
			<a href="/games/" >Store</a>
		</div>
		<div class="logo"><img src="https://i.imgur.com/LNADoYI.png" /></div>
	</nav>
</header>