<header class="flex-cntr">
	<h2>Game Shack</h2>
	<h1>Store</h1>
	<nav class="flex-cntr" id="top-nav">
		<div class="nav-links flex-cntr">
			<a href="/" >Home</a>
			<a href="/games/" >Games</a>
			<a href="/games/" >Signup</a>
			<a href="/games" >Login</a>
		</div>
	</nav>
</header>