/* --------------------- */
/* view/games/ css */
/* --------------------- */
:root {
	--color-base: #fcf6f6;
	--bg: #2C3540; 
	--accent: #D9D6B0; 
	--nav-font: #D9C14A;
	--accent2: #cc9137;
	--accent3: #8C4A0F; 
	--border-color: #0D0D0D; 
}

* {
	font-family: 'Source Serif Pro', serif;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	height: auto;
	width: 100vw;
}

#index-body {
	background-image: url('https://i.imgur.com/PFHSwNF.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: var(--color-base);
}

/* ----------------------------- */
/* flex styles */
/* ----------------------------- */
.flex-cntr {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-cntr.col {
	flex-direction: column;
}

/* --------------------- */
/* nav bar css */
/* --------------------- */
header {
	background-color: var(--bg);
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	color: var(--nav-font);
}

nav {
	width: 100%;
}

nav h1 {
	white-space: nowrap;
	flex: auto;
	width: max-content;
	font-size: 50px;
	text-align: left;
	margin: 20px;
	flex-wrap: nowrap;
}

.nav-links {
	flex: auto;
	justify-content: flex-end;
}

.nav-links a {
	font-size: 30px;
	text-decoration: none;
	margin-right: 10px;
	padding: 15px;
	color: var(--nav-font);
}

.nav-links div {
	text-decoration: none;
}

#top-nav {
	justify-content: space-between;
}

nav div.selected {
	visibility: hidden;
}

/* --------------------- */
/* content-wrapper css */
/* --------------------- */
.content-wrapper {
	font-size: 30px;
	margin: auto;
} 

/* --------------------- */
/* game container css */
/* --------------------- */
.games {
	margin: 20px auto;
	flex-wrap: wrap;
}

.game-cntr {
	width: 230px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    outline: solid var(--accent3) 2px;
    border: solid var(--nav-font) 3px;
	justify-content: space-evenly;
}

img {
	max-width: 230px;
	max-height: 300px;
}

.img-cntr, img-cntr.img {
	width: auto;
}

div.text-cntr.flex-cntr {
	border-top: solid 2px var(--accent);
	padding: 10px;
	/* justify-content: flex-end; */
	flex: 1;
}
/* @media (max-width: 960px) {
	nav div.nav-links { visibility: hidden; }

	nav div.selected { visibility: visible; }

	select {
		background-color: var(--accent);
		color: var(--color5);
		border: none;
		width: 50px;
		height: 40px;
	}
} */