/* --------------------- */
/* view/games/ css */
/* --------------------- */
:root {
	--color-base: #fcf6f6;
	--bg: #2C3540; 
	--bg-op: rgb(44, 53, 64, 0.9); 
	--accent: #D9D6B0; 
	--nav-font: #D9C14A;
	--accent2: #cc9137;
	--accent3: #8C4A0F; 
	--border-color: #0D0D0D; 
	--border-color-op: rgb(13, 13, 13, 0.4); 
}

* {
	font-family: 'Source Serif Pro', serif;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	height: auto;
	width: 100vw;
}

#index-body {
	background-image: url('https://i.imgur.com/PFHSwNF.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: var(--color-base);
}

/* ----------------------------- */
/* flex styles */
/* ----------------------------- */
.flex-cntr {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-cntr.col {
	flex-direction: column;
}

/* --------------------- */
/* nav bar css */
/* --------------------- */
header {
	background-color: var(--bg);
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	color: var(--nav-font);
}

nav {
	width: 100%;
}

nav h1 {
	white-space: nowrap;
	flex: auto;
	width: max-content;
	font-size: 50px;
	text-align: left;
	margin: 20px;
	flex-wrap: nowrap;
}

nav h1 a {
	color: var(--nav-font);
}

.nav-links {
	flex: auto;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-links a {
	font-size: 30px;
	text-decoration: none;
	margin-right: 10px;
	padding: 15px;
	color: var(--nav-font);
}

.nav-links div {
	text-decoration: none;
}

#top-nav {
	justify-content: space-between;
}

nav div.selected {
	visibility: hidden;
}

.logo {
	display: none;
}

/* --------------------- */
/* content-wrapper css */
/* --------------------- */
.content-wrapper {
	font-size: 30px;
	margin: auto;
} 

/* --------------------- */
/* game container css */
/* --------------------- */
.games {
	margin: 20px auto;
	flex-wrap: wrap;
	width: 75%;
}

.game-cntr {
	background-color: var(--border-color-op);
	width: 250px;
    height: 400px;
    margin: 25px;
    padding: 10px;
    outline: solid var(--accent2) 5px;
    border: solid var(--nav-font) 3px;
	justify-content: space-around;
	align-items: center;
	transition: all 0.25s 0s ease-in-out;
}

.game-cntr:hover {
	transform: scale(1.0, 1.0);
	background-color: var(--bg-op);
	text-decoration: none;
}

img {
	max-width: 225px;
	max-height: 225px;
}

.img-cntr, img-cntr.img {
	max-height: 235px;
	width: auto;
	padding: 10px;
	object-fit: contain;
	align-items: center;
	display: flex;
}

div.text-cntr.flex-cntr {
	padding: 10px;
	/* justify-content: flex-end; */
	text-align: center;
	justify-content: flex-end;
}

.name-cntr {
	padding-top: 20px;
	border-top: solid 2px var(--accent);
}

/* --------------------- */
/* game container show page css */
/* --------------------- */
.content-wrapper.show {
	width: 60%;
	height: auto;
	margin-top: 30px;
}

.game-cntr-show {
	background-color: var(--bg-op);
	width: 100%;
    height: auto;
    margin: 10px;
    padding: 20px;
    outline: solid var(--accent2) 5px;
    border: solid var(--nav-font) 3px;
    justify-content: space-around;
    max-width: max-content;
}

.text-cntr-show {
	flex: 1;
	margin-left: 25px;
	padding: 10px;
}
.name-cntr h1 {
	margin: 10px auto;
}

.name-cntr, .desc-cntr, .qty-cntr, .price-cntr, .tag-cntr {
	justify-content: flex-start;
	width: 100%;
	margin: 5px;
}

/* --------------------- */
/* purchaser css */
/* --------------------- */
.purchaser, .routes-button-cntr {
	margin: 10px auto;
}

.routes-button-cntr {
	justify-content: space-around;
	align-items: center;
	white-space: nowrap;
}
.routes-button-cntr form, .routes-button-cntr a {
	margin: auto 5px;
}


button {
	margin: 3px;
	width: 100%;
	font-size: 25px;
}

input.qty-counter {
	border: none;
	outline: none;
	margin: 5px;
	font-size: 25px;
	width: 100px;
	text-align: center;
	height: 37px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* --------------------- */
/* new form css */
/* --------------------- */
form h3 {
	text-align: center;
	white-space: nowrap;
}

body div form.new-product-form {
	border: solid 10px var(--nav-border-color);
	width: 30%;
	padding: 40px;
	padding-top: 5px;
	min-width: 450px;
	min-height: 250px;
}

.form-child {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}
.form-right {
	width: 60%;
	font-size: 20px;
	margin: 10px 0px;
	text-align: left;
	overflow: scroll;
}

.new-form-submit-btn {
	margin: 10px auto;
}

.minus-btn, .add-btn {
	width: 40px;
	height: 40px;
}
/* tried to do a drop down menu */
/* @media (max-width: 960px) {
	nav div.nav-links {
		flex-direction: column; 
		display: none;
	}

	div.logo {
		display: flex;
		height: 65px;
	}

	div.logo:hover + .nav-links {
		display: none;
	}
} */

@media (max-width: 1100px) {
	div.game-cntr-show {
		flex-direction: column;
	}

	.text-cntr-show {
		margin: auto;
	}
}